# --- VS Code ---
**/.vscode/

# --- Python ---
**/__pycache__/
**/*.pyc
**/.venv/

# --- Docker ---
**/*.log

# --- Terraform ---
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup

# --- Project-specific ---
**/devices.conf
**/config-*.json
