.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reservations {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
