.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background: white;
  padding: 48px;
  border-radius: 16px;
  width: 400px;
  min-height: 400px;
}

.copyright {
  padding-top: 16px;
}
