.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.header-title {
  font-size: 29px;
  font-weight: 500;
}

.svg-container {
  width: 500px;
  max-width: 800px;
  max-height: 400px;
}

.space-vacant {
  fill: var(--space-vacant);
  cursor: pointer;
}

.space-vacant:hover {
  fill: var(--space-vacant-hover);
}

.space-vacant-active {
  fill: var(--space-vacant-active);
}

.space-reserved {
  fill: var(--space-reserved);
}

.space-taken {
  fill: var(--space-taken);
}
