:root {
  color-scheme: light dark;

  /* Colors */
  --light-bg: #f5f5f5;
  --light-color: black;
  --light-color-muted: rgb(115, 115, 115);

  --dark-bg: #344152;
  --dark-color: white;
  --dark-color-muted: rgb(212, 212, 212);

  --space-vacant: #bbf7d0;
  --space-vacant-hover: #86efac;
  --space-vacant-active: #4ade80;
  --space-reserved: #fef08a;
  --space-taken: #fecaca;

  --parking-icon: "#27a5ff";

  /* Fonts */
  --font-main: "Poppins", sans-serif;
}

html,
body {
  --primary-color-light: gray;
  --primary-color-dark: black;

  --primary-color: light-dark(
    var(--primary-color-light),
    var(--primary-color-dark)
  );

  --background: light-dark(var(--light-bg), var(--dark-bg));
  --color: light-dark(var(--light-color), var(--dark-color));

  background-color: var(--background);
  color: var(--color);
  height: 100%;
  margin: 0;
}

menu,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.field {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.info-text {
  color: light-dark(var(--light-color-muted), var(--dark-color-muted));
}
