:root {
  color-scheme: light dark;

  --light-bg: #f0dbd4;
  --light-color: black;

  --dark-bg: #344152;
  --dark-color: white;

  --font-main: "Poppins", sans-serif;
}

html,
body {
  --primary-color-light: gray;
  --primary-color-dark: black;

  --primary-color: light-dark(
    var(--primary-color-light),
    var(--primary-color-dark)
  );

  --background: light-dark(var(--light-bg), var(--dark-bg));
  --color: light-dark(var(--light-color), var(--dark-color));

  background-color: var(--background);
  color: var(--color);
  height: 100%;
  margin: 0;
}

menu,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
